<!-- <div class="head"> -->
<mat-card id="container">
    <mat-horizontal-stepper id="stepper" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" id="step">

            <p style="align-items: center;">a list of all the request from a customer</p>

            <div *ngIf="flag == 'true'; else loggedOut">
                <h3>ICT request's </h3>
                <mat-list style="align-content: center;">
                    <mat-list-item *ngFor="let i of multipleRequest">{{i}}
                        <!-- <mat-form-field style="position: relative;left: 30px;">
                      <mat-label>Input</mat-label>
                      <!-- <input matInput  type="number"  [(ngModel)]="sast"> ->
                    </mat-form-field> -->
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <h3>Electrical request's </h3>
                    <mat-list-item *ngFor="let i of multipleRequest1">{{i}} &nbsp;
                        <!-- <mat-form-field style="position: relative;left: 30px;"> -->
                    </mat-list-item>
                </mat-list>
                <!-- <mat-label>Input</mat-label> ->
                  <input matInput type="number" [(ngModel)]="costM">
                </mat-form-field>
             
        </div>
        
      
          <!-- <ng-template #loggedOut> -->
                <div *ngIf="flag == 'false'">
                    <h3>Single Request </h3>
                    <mat-list>
                        <mat-list-item>{{service}}

                        </mat-list-item>

                        <mat-list-item> {{desc}}</mat-list-item>
                    </mat-list>
                </div>
                <!-- </ng-template>
          
          
          <button mat-button (click)="generatePdf()" style="position: absolute;background-color: cadetblue;right:10px;bottom: 10px;">Create Invoice</button>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" id="stop">
        <h3>Upload the recently created invoice </h3>
        <mat-list>
          <mat-list-item> Open file </mat-list-item>
          <mat-list-item> choose invoice to upload</mat-list-item>
          <mat-list-item>  Upload the invoice </mat-list-item>
         </mat-list>
        <i class="material-icons" (click)="file.click()" style="zoom: 1.5;position: relative;left: 5px;" slot="end">
          cloud_upload
          </i>
          <mat-progress-bar mode="determinate" [value]="task"></mat-progress-bar>
    
           <input #file type="file"  style="display: none;" (change)="uploadFile(file.files)" accept='application/pdf' /> 
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Choose day to offer service</p>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
        <div class="btn">
       <button mat-button style="background: red;">Decline Request</button>&nbsp;
       <button mat-button style="background: rgba(16, 137, 236, 0.699);">Accept Request</button>
      </div>
      </mat-step>
      
    </mat-horizontal-stepper>
    </mat-card>
    <!-- </div> -->