#stepper {
    position: absolute;
    width: 100%;
    top: 0px;
    // border-radius: 5px 5px 5px 5px;
    background-color: rgba(214, 16, 16, 0.781);
    // padding-left: 20px ;
    height: 20%;
    right: 0;
}

// .step {
//     position: relative;
//     background-color: white;
// }
// .step:visited {
//     background-color: yellow;
// }
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: black;
}

::ng-deep .mat-step-header .mat-step-icon-after {
    background-color: black;
}

#container {
    position: absolute;
    top: 20%;
    height: 45%;
    width: 85%;
    padding-left: 20px;
    border-radius: 5px 5px 5px 5px;
    left: 7.5%;
}

.head {
    position: absolute;
    // background-color: yellow;
    height: 40%;
}

// .stop {
//     height: 100%;
// }
.btn {
    position: relative;
    bottom: 5%;
    right: 5px;
    height: 100%;
}

.invoice {
    text-align: center;
}

.createinvoice {
    position: relative;
    bottom: 5%;
    right: 5px;
    height: 100%;
    width: 25%;
    color: white;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgba(214, 16, 16, 0.781);
}

::ng-deep .mat-progress-bar-buffer {
    background: rgb(3, 15, 24);
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.mat-datepicker-toggle {
    color: red;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: gray !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
    ;
}

 ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}