<!-- 
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="service.name">
    </mat-form-field>
  <br>
    <mat-form-field>
      <input matInput placeholder="description" [(ngModel)]="service.description"> 
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="cost" [(ngModel)]="service.cost">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="cost" [(ngModel)]="temp">
    </mat-form-field>
    <br>
    <button (click)="submit()">add</button>
    <button (click)="try()">Update</button>
  </div> -->
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add ICT Service
            </mat-panel-title>
            <mat-panel-description>
                Add ICT service
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="one">


            <div class="button">
                <img [src]="imgUrl" alt="avatar" (click)="file.click()" height="400" width="400">
                <input #file type="file" style="display: none;" (change)="uploadFile(file.files)" accept='image/*' />
                <!--  <input id="file-input1" type="file" accept="image/*" (change)="uploadFile(file.files)" /> -->

            </div>

            <br>
            <mat-form-field>
                <input matInput placeholder="Service name" [(ngModel)]="service.name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Service Description" [(ngModel)]="service.description">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Service Cost" type="number" [(ngModel)]="service.cost">
            </mat-form-field>
            <br>
            <button mat-button style="align-items: flex-end;" (click)="test()">submit</button>
        </div>



    </mat-expansion-panel>

</mat-accordion>

<!-- <mat-icon aria-hidden="false" aria-label="Example home icon">insert</mat-icon> -->
<table mat-table [dataSource]="dataSourc">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Service</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>

    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>cost</th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>

        <!-- <mat-header-cell *matHeaderCellDef></mat-header-cell> -->
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="update(row)" matTooltip="Update row" matTooltipPosition="before" matTooltipClass="example-tooltip" aria-label="Button that shows a red tooltip" class="example-button"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn" (click)="delete(row)" matTooltip="Delete row" matTooltipPosition="after" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" class="example-button"><mat-icon>delete_outline</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



</table>