
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="service.name">
    </mat-form-field>
  <br>
    <mat-form-field>
      <input matInput placeholder="description" [(ngModel)]="service.description"> 
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="cost" [(ngModel)]="service.cost">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="cost" [(ngModel)]="temp">
    </mat-form-field>
    <br>
    <button (click)="submit()">add</button>
    <button (click)="try()">Update</button>
  </div>
  
