table {
    width: 95%;
    // position: relative;
    margin: auto;
    margin-top: 20px;
}

.one {
    position: relative;
    // left: 400px;
    text-align: center;
}

mat-form-field {
    width: 70%;
}

.btn {
    // left: 30%;
    color: rgb(49, 46, 46);
    background-color: red;
    // width: 30%;
    color: white;
}