<!-- <div class="one">
   -->
   <h2>Update Service</h2>
   <div class="example-container">
<div class="button">
  <img [src]="photoURL" alt="avatar"  (click)="file.click()" height="145" width="220" >
  <input #file type="file"  style="display: none;" (change)="uploadFile(file.files)" accept='image/*' />
   <!--  <input id="file-input1" type="file" accept="image/*" (change)="uploadFile(file.files)" /> -->
   
</div>

<br>
<mat-form-field>
 <input matInput placeholder="Service name"  [(ngModel)]="name">
</mat-form-field>
<br>
 <mat-form-field>
   <input matInput placeholder="Service Description" [(ngModel)]="description">
 </mat-form-field>
 <br>
 <mat-form-field>
  <input matInput placeholder="Service Cost" type="number"  [(ngModel)]="cost">
</mat-form-field>
<br>
<button mat-button style="align-items: flex-end;"  (click)="test()">submit</button>
</div>