// .sidenav-container {
//   height: 100%;
// }
// .sidenav {
//   width: 200px;
// }
// .sidenav .mat-toolbar {
//   background: inherit;
// }
// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
#toolbar {
    position: sticky;
    background-color: rgb(214, 46, 46);
    // margin-bottom: 20px;
    color: white;
}

#content {
    position: absolute;
    width: 15%;
}

.one {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
    color: white;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.list {
    overflow-x: hidden;
    overflow-y: hidden !important;
    background: linear-gradient(rgba(rgb(240, 23, 23), .75), rgba(rgba(238, 12, 12, 0.692), .85)), url("/assets/bg.jpg") no-repeat;
}

.img {
    top: 2px;
    position: absolute;
    right: 2%;
    height: 60px;
    width: 65px;
    border-radius: 50px 50px 50px 50px;
}