

<mat-sidenav-container class="example-container">
  <mat-toolbar class="example-header">Header</mat-toolbar>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"
               (closed)="events.push('close!')">
               <div class="one">
               <button mat-button style="align-items: flex-end;"  [routerLink]="['/main-nav/output-graph']">Home</button>
   
              <button mat-button style="align-items: flex-end;"   [routerLink]="['/main-nav/listService']">Users</button>
              

              <button mat-button style="align-items: flex-end;"   [routerLink]="['/main-nav/invoice']">Invoice</button>

              
              <button mat-button style="align-items: flex-end;" [routerLink]="['/main-nav/request-app']">Request</button>
            </div>
              <!--             
              <a mat-list-item [routerLink]="['/main-nav/service']">
                <i class="material-icons">dashboard</i>
                <span style="margin-left: 20px;">Payment</span>
              </a> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>