<mat-sidenav-container class="example-container">
    <mat-toolbar color="primary">Header</mat-toolbar>


    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (closed)="events.push('close!')" class="list">
        <div class="image">
            <img src="/assets/scc (1).png" style="position: absolute;top:0px;width:150px;height:150px;left: 15px;">
        </div>

        <div class="links">
            <a mat-list-item [routerLink]="['/main-nav/home']" class="home">
                <mat-icon aria-hidden="false" aria-label="Example home icon" color="light">home</mat-icon>
                <span class="aligned-with-icon">Home</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="['/main-nav/addWorker']" class="people">
                <mat-icon aria-hidden="false" aria-label="Example  people icon" color="light"> people</mat-icon>
                <span class="aligned-with-icon">Worker</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="['/main-nav/invoice']" class="receipt">
                <i class="material-icons">receipt</i>
                <span class="aligned-with-icon">Invoice</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="['/main-nav/request-app']" class="view">
                <i class="material-icons">view_list</i>
                <span class="aligned-with-icon">Request</span>
            </a>
            <br>
            <a mat-list-item [routerLink]="['/main-nav/service']" class="payment">
                <i class="material-icons">payment</i>
                <span class="aligned-with-icon">Add Service</span>
            </a>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <button mat-button (click)="sidenav.toggle()">
         
          <mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>