// .sidenav-container {
//   height: 100%;
// }
// .sidenav {
//   width: 200px;
// }
// .sidenav .mat-toolbar {
//   background: inherit;
// }
// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
.one {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
    color: white;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.list {
    overflow-x: hidden;
    overflow-y: hidden !important;
    background: linear-gradient(rgba(rgb(238, 11, 11), .75), rgba(rgba(80, 31, 31, 0.692), .85)), url("/assets/bg.jpg") no-repeat;
}