<div class="outer">
    <div class="middle">
      <div id="login">
        <div id="card">
          <img src="../../../assets/scc (1).png" style="max-width: 200px; min-width: 20%; max-height: 120px;">
          <h1 class="mat-display-1" style="margin-bottom: 10px; margin-top: 10px;">SCC Dashboard</h1>
          <p class="mat-body-1 subtitle">Admin Portal</p>
          <form [formGroup]="form">
            <div>
              <span class="mat-body-1 headings">Email</span>
              <input type="email" formControlName="email" [ngClass]="{'error': !valid('email')}" />
            </div>
            <div>
              <span class="mat-body-1 headings">Password</span>
              <input type="password" formControlName="password" [ngClass]="{'error': !valid('password')}" />
            </div>
            <button  (click)="submit()">Login</button>
            <p class="failed mat-body-1">{{error}}</p>
          </form>
        </div>
      </div>
