#container {
    position: absolute;
    top: 10%;
    width: 48%;
    left: 22px;
    height: 40%;
    color: red;
}

#container1 {
    position: absolute;
    // padding: auto;
    top: 10%;
    right: 22px;
    width: 48%;
    height: 40%;
    background-image: gray;
}

#container2 {
    position: absolute;
    // padding: auto;
    bottom: 0px;
    top: 55%;
    left: 22px;
    width: 48%;
    height: 40%;
}