#container{
    position: absolute;
    width: 48%;
    left:  22px;
    height: 45%;
}
#container1{
    position: absolute;
    // padding: auto;
    top: 65px;
    right:  22px;
    width: 48%;
    height: 45%;
}
#container2{
    position: absolute;
    // padding: auto;
    bottom: 0px;
    margin-top: 10px;
    left:  22px;
    width: 48%;
    height: 45%;
}